aiohappyeyeballs
aiohttp
aiosignal
alembic
asgiref
async-timeout
attrs
blinker
click
colorama
flake8
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
frozenlist
greenlet
idna
importlib_metadata
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
mccabe
multidict
packaging
pluggy
pillow
py
pycodestyle
pyflakes
pytest==8.4.2
pytest-aiohttp
pytest-asyncio==1.2.0
pytest-env
pytest-tornasync
python-dateutil
python-dotenv
six
SQLAlchemy
tomli
typing_extensions
Werkzeug
WTForms
yarl
zipp
